<!--<p>-->
  <!--user-list-view works!-->
<!--</p>-->

  <div id="clients">
    <h3> Client's login</h3>
    <ul>
      <li *ngFor="let client of clients">
        <a href="#{{client.id}}" (click)="details(client)">{{client.mail}}</a>
    <!--<input type="text" name="clientMail" placeholder="enter your email" [(ngModel)]="existedClient.mail">-->
        <!--<button (click)="existingClient()" [disabled]="existedClient.mail?.length<2" > ok!</button>-->
      </li>
    </ul>
  </div>


  <div *ngIf="selectedClient">
    <h3> All products available</h3>

    <ol>
      <li *ngFor="let product of products"> {{product.name}}</li>
    </ol>
</div>


